<form action="" method='POST'>
    <input type='hidden' name='action' value='homeform'>
    {% csrf_token %}

    <h6>{{ action_name }}</h6>
    <div class="form__desc">
        <h4>До окончания акции осталось</h4>
        <div style='border: 1px solid #c0c0c0; width: 240px; margin: 0 auto; padding: 5px'>
            <div class="rezult-timer"></div>
            <span class="time-d">дни</span>
            <span class="time-d">часы</span> 
            <span class="time-d"> мин</span> 
            <span class="time-d"> сек</span> 
        </div>
    </div>
    <div class="block-form__btn" style='padding-bottom: 20px'>
        <span class="back form-btn btn-yellow" style='margin-right: 90px'> 
        <input type="submit" value="Записаться" style=''> </span>
    </div>
    <p><span class="back"> 
        <input type="text" placeholder="Ваше имя" name="name" value='{% if hform.name.value %}{{ hform.name.value }}{% endif %}' {% if hform.errors.name %} style='border: 1px solid red' {% endif %} />
    </span></p>

    <p><span class="back"> 
        <input type="text" placeholder="Ваш телефон" name="phone" value='{% if hform.phone.value %}{{ hform.phone.value }}{% endif %}' {% if hform.errors.phone %} style='border: 1px solid red' {% endif %}/>
    </span></p>
    
</form>
