<form action="" method='POST'>
    <input type='hidden' name='action' value='homeform'>
    {% csrf_token %}

    <div class="form__desc">
	<h6>Только c 15 по 31 января!</h6>
	<h3 class="_red">Запишитесь на пробную тренировку и получите подарок - индивидуальный план питания для лёгкого и быстрого похудения</h3>	    
    </div>
    <div class="block-form__btn" style='padding-bottom: 20px'>
        <span class="back form-btn btn-yellow" style='margin-right: 90px'> 
        <input type="submit" value="Записаться" style=''> </span>
    </div>
    <p><span class="back"> 
        <input type="text" placeholder="Ваше имя" name="name" value='{% if hform.name.value %}{{ hform.name.value }}{% endif %}' {% if hform.errors.name %} style='border: 1px solid red' {% endif %} />
    </span></p>

    <p><span class="back"> 
        <input type="text" placeholder="Ваш телефон" name="phone" value='{% if hform.phone.value %}{{ hform.phone.value }}{% endif %}' {% if hform.errors.phone %} style='border: 1px solid red' {% endif %}/>
    </span></p>
    
</form>
