{% extends 'base.html' %}

{% block title %}{{ p.title }}{% endblock %}

{% block breadcrumbs %}
    {% if menu_cat %}
        <a href="{{ menu_cat.href }}">{{ menu_cat.title }}</a>
    {% endif %}
    <a href="#" class="active">{{ p.title }}</a>
{% endblock %}

{% block content %}
	{% if 'podarochnyie-sertifikatyi' in request_url %}
	    <section class="sidebar__box">
	        <h5>Я хочу приобрести подарочный сертификат  FIT-N-GO !</h5>
	        <span class="back form-btn btn-yellow">
	            <input type="submit" class="gift" value="Приобрести"/>
	        </span>
	    </section>
	{% endif %}

	{{ p.content|safe }}

	{% if 'podarochnyie-sertifikatyi' in request_url %}
	    <section class="sidebar__box">
	        <h5>Я хочу приобрести подарочный сертификат  FIT-N-GO !</h5>
	        <span class="back form-btn btn-yellow">
	            <input type="submit" class="gift" value="Приобрести"/>
	        </span>
	    </section>
	{% endif %}

{% endblock %}
